@import url("https://fonts.maateen.me/bangla/font.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 100px;
  height: 100px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 98px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.menu-list {
  @apply w-full p-2 rounded-lg border border-transparent flex items-center gap-2 hover:bg-gray-100 transition-all cursor-pointer;
}
.menu-list span {
  @apply text-sm font-semibold;
}
.nav-link-style-remove {
  @apply !rounded-none !bg-transparent active:!bg-transparent active:!text-neutral !p-0;
}
.post-form-field {
  @apply w-full py-3 px-2 border border-gray-300 hover:border-gray-500 focus:border-blue-500 rounded-sm outline-none;
}
